<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>煌めくどんな星も、君を照らすから - Princever.GitHub.io by Princever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-light.css" media="screen">
     <link href="{{site.baseurl}}/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/stylesheets/bootstrap.min.responsive.css" rel="stylesheet">
    <!--link href="{{site.baseurl}}/stylesheets/local.css" rel="stylesheet"-->
    <!--link href="{{site.baseurl}}/stylesheets/pygments.css" rel="stylesheet"-->
    <link rel='icon' href="{{site.baseurl}}/ico/pic.ico" type='image/x-ico' /> 
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">煌めくどんな星も、君を照らすから - Princever.GitHub.io</h1>
      <h2 class="project-tagline">Princever&#39;s blog</h2>
	  <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />


    </section>
   

    <section class="main-content">
    <div class="navbar">
    <div class="navbar-inner">
    <div class="container">

        <!--  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar">1</span>
             <span class="icon-bar">2</span>
             <span class="icon-bar">3</span>
         </a> -->

        <a class="brand"  href="{{site.baseurl}}/index.html">HOME PAGE</a>

        <div class="nav-collapse">
        <ul class="nav">
            <li><a href="https://github.com/Princever">Github</a></li>
            <li><a href="{{site.baseurl}}/pages/downloads.html">Downloads</a></li>
            <li><a href="{{site.baseurl}}/pages/about.html">About</a></li>
            <li><a href="{{site.baseurl}}/pages/contact.html">Contact</a></li>
        </ul>
        </div>
        
    </div>
    </div>
</div>

 <footer class="site-footer">
      <h1>
<a id="princevergithubio" class="anchor" href="#princevergithubio" aria-hidden="true"><span class="octicon octicon-link"></span></a>Princever.github.io</h1>



<p>Sharing and enjoying my life!</p><br>

<div class="container">
    <div class="content">
    <div class="row">
      <div class="span9">
        
     
         {{ content }}
      </div>

    <div class="span3">

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Site
                </li>
            
                <li><a href="{{site.baseurl}}/pages/archives.html">Archives</a>
                </li><li><a href="{{site.baseurl}}/pages/tags.html">Tags</a>

<!--

                </li><li><a href="http://darryo.github.io/feeds/all.atom.xml" rel="alternate">Atom feed</a></li>
                <li><a href="http://darryo.github.io/feeds/rss.xml" rel="alternate">RSS feed</a></li>
-->
            </ul>
            </div>


            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Categories
                </li>
                
              
                
                <li><a href="{{site.baseurl}}/categories/operatesystem.html">Operate System</a></li>
                <li><a href="{{site.baseurl}}/categories/algorithmanddatastucture.html">Algorithm and Data Stucture</a></li>
				<li><a href="{{site.baseurl}}/categories/database.html">Database</a></li>
                <li><a href="{{site.baseurl}}/categories/android.html">Android</a></li>
                <li><a href="{{site.baseurl}}/categories/embeddedsystem.html">Embedded System</a></li>
                <li><a href="{{site.baseurl}}/categories/linux.html">Linux</a></li>
                 <li><a href="{{site.baseurl}}/categories/lifeinZJU.html">Life In ZJU</a></li>
                <li><a href="{{site.baseurl}}/categories/learningJapanese.html">Learning Japanese</a></li>
                <li><a href="{{site.baseurl}}/categories/unclassified.html">Unclassified</a></li>
                
                   
            </ul>
            </div>




            <div class="social">
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Social
                </li>
           
                <li><a href="https://github.com/Princever">GitHub</a></li>
            </ul>
            </div>
            </div>

        </div>
        </div>
        </div>
        </div>

    
      <footer class="site-footer">

        <span class="site-footer-credits">This page was designed by <a href="http://weibo.com/u/1831185433">Prince</a>. Welcome to my <a href="https://github.com/Princever">Github</a>.</span>
      </footer>

       

    </section>

  
  </body>
</html>

